/*  TYPOGRAPHY
----------------------------------------------------------- */

.title-block {

}
.title-block span {
    display: block;
    height: 4px;
    margin: 0 4px;
    padding: 0 4px;
    background-color: var(--theme-2);
    font-size: 0;
    max-width: 100px;
}

span.title-line {

}
span.line-inner {

}

span.line-left {

}

/*  Content Section Elements
...............................*/
.pricing-plan h3 {
    border-radius: var(--bd-rad-base);
    padding: 12px;
    background-color: var(--color-lg-gray);
    margin-bottom: 27px;
}


/*  Forms
...............................*/



/*  Footer
...............................*/
.footer-area, .footer-area li a, .footer address small {
    color: var(--text-footer);
}
.footer-area  {
    font-size: 14px;
}
.footer-area li a:hover {
    color: var(--text-footer-active);
}

.footer-area small, .section-copy {
    font-size: 13px;
}

.section-copy, .copy-text a {
    color: var(--text-copy);
}

.footer-pay a, .copy-links a {
    color: var(--text-footer-active);
}
.footer-pay a:hover, .section-copy a:hover {
    color: var(--theme-3);
}

.footer-area address, .footer-area address a {
    color: var(--theme-3);
}
.footer-area address a:hover {
    color: var(--text-footer-active);
}



/* Invers
...............................*/
.invers-color, 
.invers-parent h1, .invers-parent h2, .invers-parent h3, .invers-parent h4,
h1.invers-custom, h2.invers-custom, h3.invers-custom, h4.invers-custom {
    color: var(--invers);
}

/*  TRANSITION
...............................*/
a {
    transition: all 200ms ease-in-out 0s;
}