/*  VARIABLES
----------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap');

.test-ff {
	font-family: 'Inter', serif;
/*
	Normal      400
	Meidum      500
	Semi-Bold   600
	Bold        700
	Extra-Bold  800
	Black       900
*/
}


:root {
	/* @Layout  : */
	--base-width          : 1800px;
	--secondary-width     : 1491px;

	/* @color names       : */
	--color-white         : #fff;
	--color-lg-gray       : #f5f5f5;
	--color-lg-gray2      : #f7f7f7;
	--color-black         : #000;
	--color-lg-blue       : #e0ecf5;
	
	
	/* @theme colors      : */
	--theme-1             : #0064aa;
	--theme-2             : #ea1f26;
	--theme-3             : #f6901e;
	
	--text                : #626669;
	--text-dk             : #1f252a;
	--text-dk-rgb 		  : 31, 37, 42;
	
	--title               : #1f252a;
	
	/* @extend color var  : */
	--body-bg             : var(--color-white);
	--invers              : var(--color-white);
	
	--main                : var(--text-dk);
	--link                : var(--theme-1);
	--hover               : var(--theme-2);
	
	--title-base          : var(--title);
	--title-hero          : var(--title);
	--title-section       : var(--title);
	--title-page          : var(--title);
	
	/* @FF                : */
	--Inter               : 'Inter', serif;
	--main-font           : var(--Inter);
	
	/* @Font size         : */
	--fz-main             : 16px;
	--fz-h1               : 58px;
	--fz-h2               : 36px;
	--fz-h3               : 20px;
	--fz-h4               : 20px;
	
	/* @Footer bg colors  : */
	--footer-area-bg      : #1f252a;
	--footer-copy-bg      : #15191c;
	
	
	/* @Footer text colors: */
	--text-footer         : #9d9d9d;
	--text-footer-active  : #66a2cc;
	--text-copy           : #5d5d5d;

	/* @Border: */
	--bd-rad-base         : 20px;

	--bd--base            : 1px solid var(--color-lg-gray);
	--bd--base2           : 1px solid var(--color-lg-gray2);
	
	

	position: relative;
}