/*  Blocks / modules / components
-----------------------------------------------*/



/* Block styles
...............................*/
.block-style-base {

}
.block-rad,
.block-style-base {
    border-radius: var(--bd-rad-base);
}
.block-pd {
    padding: 28px;
}
.block-shadow,
.block-style-base {
    box-shadow: 18px 18px 38px 8px rgba(var(--text-dk-rgb),.11);
}



/*  Buttons
...............................*/
.btn {
    position: relative;
    min-width: 130px;
    min-height: 35px;
    padding: 1px 5px 0;
    text-align: center;
    white-space: inherit;
    text-decoration: none;
    color: #fff;
    border-radius: 33px;
    font-size: 14px;
    box-shadow: 0 0 10px 0 rgba(45, 34, 79, 0.34);
    line-height: 34px;
    letter-spacing: 1px;
    background-color: var(--theme-1);
    border: 0;
    z-index: 1;
    cursor: pointer;

}
.btn:after {
    content: '';
    border-radius: 33px;
    z-index: -1;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: var(--theme-1);
}
.btn:hover, .btn:focus {
    text-decoration: none;
    color: #fff;
    background-color: #563b92;
} 
.btn:hover:after {
    opacity: 0;
}

.btn-invers:not(:hover) {
    background: transparent;
    box-shadow: inset 0 0 0 1px #77aff4;
}
.btn-invers:after {
    opacity: 0;
}
.btn-invers:hover, .btn-invers:focus {
    box-shadow: 0 0 10px 0 rgba(45, 34, 79, 0.34);
}

.btn-border {
    min-width: 147px;
    min-height: 37px;
    line-height: 32px;
    background-color: var(--theme-1);
    border: 2px solid #e3e6e9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #c8c8c8;
}

.btn-wide {
    display: block;
    width: 100%;
}


/*  SOCIAL LINKS
...............................*/
.list-social {
    display: inline-block;
}

.list-social>li {
    padding: 0 7px;
}
.list-social>li>a, .link-follow em {
    display: inline-block;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 34px;
    border-radius: 5px;
    font-size: 26px;
    z-index: 1;
}
.list-social>li>a:hover {
    color: var(--theme-1);
}