/*  Typography
----------------------------------------------------------- */

.title-block {

}
.title-line span {
    display: inline-block;
    height: 4px;
    margin: 0 4px;
    padding: 0 4px;
    background-color: var(--theme-2);
}

span.title-line {

}
span.line-inner {

}

span.line-left {

}

/*  TRANSITION
...............................*/

a {
    transition: all 200ms ease-in-out 0s;
}