/* Header position
...............................*/
@media only screen and (min-width: 768px) {
    .header-fixed {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
    }
    .header-absolute {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
    }
}


/* Footer to bottom
...............................*/
html, body { 
    height: 100%;
} 
.h-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}
.h-content {
    flex: 1;
} 