@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

.test-ff {
    font-family: 'Inter', serif;
/*
    Normal      400
    Meidum      500
    Semi-Bold   600
    Bold        700
    Extra-Bold  800
    Black       900
*/
}


:root {

    /* @color names */
    --color-white  : #fff;
    --color-black  : #000;


    /* @theme colors */
    --theme-1      : #0064aa;
    --theme-2      : #ea1f26;
    --theme-3      : #f6901e;
    
    --text         : #626669;
    --text-dk      : #1f252a;
    
    --title        : #1f252a;
    
    /* @extend color var */
    --body-bg      : var(--color-white);
    --invers       : var(--color-white);
    
    --main         : var(--text);
    --link         : var(--theme-1);
    --hover        : var(--theme-2);
    
    --title-base   : var(--title);
    --title-hero   : var(--title);
    --title-section: var(--title);
    --title-page   : var(--title);

    /* @layouts bg:  heaer, hero, content, footer, copy ....*/
    

    position: relative;
}